<!-- Nav + Outlet for Page Template-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><a class="nav-link unclickable">|</a></li>
      <li class="nav-item">
        <!-- How we handle what should be done with a templating language like blade/jinja -->
        <a *ngIf="!Auth" class="nav-link btn" routerLink="/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Login</a>
        <a *ngIf="Auth" class="nav-link btn" routerLink="/register">Logout</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!Auth" class="nav-link btn" routerLink="/register" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Register</a>
      </li>
      <li><a *ngIf="Auth" class="nav-link unclickable">|</a></li>
      <li class="nav-item">
        <a *ngIf="Auth" (click)="verifyAuth()" routerLink="/profile" class="navBarItem">Profile</a>
      </li>
      <li class="nav-item">
        <a *ngIf="Auth" class="nav-link btn" routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Admin</a>
      </li>
      <li><a *ngIf="Auth" class="nav-link unclickable">|</a></li>
      <li class="nav-item">
        <a *ngIf="Auth" class="nav-link btn" routerLink="/chat" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Chat</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
