@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

h1 {
  text-align: center;
}

.wrapper{
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}
h4{
    letter-spacing: -1px;
    font-weight: 400;
}
.img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}
#img-section p,#deactivate p{
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}
#img-section b,#img-section button,#deactivate b{
    font-size: 14px;
}

label{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: rgb(96, 96, 96);
    padding-left: 3px;
}

.form-control{
    border-radius: 10px;
}

input[placeholder]{
    font-weight: 500;
}
.form-control:focus{
    box-shadow: none;
    border: 1.5px solid #0779e4;
}
select{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

select:focus{
    outline: none;
}
.button{
    background-color: #fff;
    color: #0779e4;
}
.button:hover{
    background-color: #0779e4;
    color: #fff;
}
.btn-primary{
    background-color: #0779e4;
}
.danger{
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}
.danger:hover{
    background-color: #e20404;
    color: #fff;
}
@media(max-width:576px){
    .wrapper{
        padding: 25px 20px;
    }
    #deactivate{
        line-height: 18px;
    }
}

input{
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid rgb(149, 149, 149)
}

div.row:nth-child(2) > div:nth-child(2) > label:nth-child(1), div.row:nth-child(2) > div:nth-child(2) > input:nth-child(2), div.row:nth-child(1) > div:nth-child(2) > label:nth-child(1), div.row:nth-child(2) > div:nth-child(2) > fieldset:nth-child(1) > input:nth-child(2), #language, #lang > label:nth-child(1), div.row:nth-child(2) > div:nth-child(2) > fieldset:nth-child(1) > label:nth-child(1) {
  margin-left: 10px;
}

button.btn {
  padding: 4px;
}

.img {
  margin-right: 10px;
}


