<h1>{{title}}</h1>

<router-outlet></router-outlet>

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">USER ID</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Username</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Channels</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Role</th>
                    </tr>
                  </thead>

                  <!-- BEGINNING OF ngFor -->
                  <tbody>
                    <tr>
                      <td class="pl-4">1</td>
                      <td>
                          <h5 class="font-medium mb-0">super</h5>
                      </td>
                      <td>
                          <span class="text-muted">super@test.com</span><br>
                      </td>
                        <td class="pl-4">{{htmlUserData}}</td>
                      <td>
                        <fieldset disabled>
                        <select class="form-control category-select" id="roleSelect">
                          <option>Super Admin</option>
                          <option>Group Admin</option>
                          <option>Group Assis</option>
                        </select>
                      </fieldset>
                      </td>
                    </tr>
                  </tbody>

                  <!-- END OF ngFor -->
                </table>
            </div>
        </div>
    </div>
    <div><br> DEBUG: <br>{{htmlUserData}}</div>
  </div>
  <div class="mt-5">
    <h3 class="text-center">Channels</h3>
    <!-- Add Channel -->
    <div class='row mt-4'>
      <div class="col w-40 h-100">
        <input type="text" id="grouptoadd" class="form-control form-control-lg" placeholder='Channel 1' [(ngModel)]="grouptoadd" [ngModelOptions]="{standalone: true}" />
      </div>
      <div class="col">
        <button class="btn button border width-100 h-100" (click)="deleteChannel()"><b>Add</b></button>
      </div>
    </div>

    <!-- Delete Channel -->
    <div class='row mt-4'>
      <div class="col w-40 h-100">
        <select class="form-control category-select width-100 h-100" id="groupSelect">
          <option>Super Admin</option>
        </select>
      </div>
      <div class="col">
        <button class="btn button border width-100 h-100" (click)="deleteChannel()"><b>Delete</b></button>
      </div>
    </div>
  </div>

