<h1>{{Username}}'s {{title}}</h1>

<router-outlet></router-outlet>

<div class="wrapper bg-white mt-sm-5">
  <h4 class="pb-4 border-bottom">Account settings</h4>
  <div class="d-flex align-items-start py-3 border-bottom">
      <img src="../../assets/Placeholder_PP.png"
          class="img" alt="">
      <div class="pl-sm-4 pl-2" id="img-section">
          <b>Profile Photo</b>
          <p>Accepted file type .png. Less than 1MB</p>
          <button class="btn button border"><b>Upload</b></button>
      </div>
  </div>
  <div class="py-2">
      <div class="row py-2">
          <div class="col-md-6">
              <label for="username">Username</label>
              <input type="text" [(ngModel)]="Username" class="bg-light form-control" id="username" placeholder="{{Username}}">
          </div>
          <div class="col-md-6 pt-md-0 pt-3">
              <label for="email">Email Address</label>
              <input type="text" [(ngModel)]="Email" class="bg-light form-control" id="email" placeholder="{{Email}}">
          </div>
      </div>
      <div class="row py-2">
          <div class="col-md-6">
            <fieldset disabled>
              <label for="role">Chat Role</label>
              <input type="text" class="bg-light form-control" id="role" placeholder="{{Role}}">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset disabled>
              <label for="role">User ID</label>
              <input type="text" class="bg-light form-control" id="role" placeholder="{{UserID}}">
            </fieldset>
          </div>
      </div>
      <div class="row py-2">
          <div class="col-md-6">
              <label for="country">Country</label>
              <select name="country" id="country" class="bg-light">
                  <option value="australia" selected>Australia</option>
              </select>
          </div>
          <div class="col-md-6 pt-md-0 pt-3" id="lang">
              <label for="language">Language</label>
              <div class="arrow">
                  <select name="language" id="language" class="bg-light">
                    <option value="enguk">English UK</option>
                    <option value="english_us">English (United States)</option>
                  </select>
              </div>
          </div>
          <button class="btn button border mt-4" (click)="logOut()"><b>Logout</b></button>
      </div>
  </div>
</div>
